version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: DOCKERFILE
    ports:
      - "5001:5000"
    # Mount the current directory to /app in the container
    volumes:
      - .:/app
    command: python app.py